<div class="container" *ngIf="!video_block_show">
    <div>
        <div class="row">
            <img class="col s12 m6 l3" src="/src/toon.png" alt="Youtube Toons">
        </div>
        <div class="row">
            <div>
                <input id="search" class="col" style="font-size:30px" [formControl]="search" placeholder="Toon Title">
            </div>
        </div>
        <div class="row">
            <div *ngFor="let video of results | async" class="col s12 m6 l3 card-panel">
                <h5>{{video.snippet.title}}</h5>
                <p>Channel ID: {{video.snippet.channelId}}</p>
                <img (click)="show_video(video.id.videoId)" [src]="video.snippet.thumbnails.medium.url"/>
            </div>
            {{error}}
        </div>
    </div>
</div>
<div *ngIf="video_block_show" (click)="hide_video()" style="width:100%; height:100%">
    <video-player [parentData]="videoData"></video-player>
</div>