html, body {
    height: 100%;
}

body {
    display: flex;
    /*align-items:center;*/
}

app {
    width: 100%;
    height: 100%;
}

.card-panel {
    height: 400px;
}

.card-panel img {
    width: auto;
}

.loading {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -25px;
    margin-left: -25px;
    font-size: 50px;
    font-family: sans-serif;
}

.ball {
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: #e74c3c;
    border-radius: 50%;
    box-shadow: inset 6px -10px 50px -20px #000;
    animation: loading 1s infinite;
}

@keyframes loading {
    0%, 100% {
        transform: translateY(0px);
        animation-timing-function: ease-out;
    }
    50% {
        transform: translateY(-30px);
        animation-timing-function: ease-in;
    }
}